@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=STIX+Two+Text:wght@400;500;600;700&display=swap');

$scndFont: 'STIX Two Text', serif;

:root {
    --main-red: #DA4533;
    --primary-color: #fff;
    --main-gray: #8a8a8a;
    --scnd-font: 'STIX Two Text', serif;
    --main-black: #1B1B1B;
}

img {
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    user-select: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.container {
    max-width: 1245px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 10px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: var(--main-red);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.scnd-font {
    font-family: $scndFont;
}

.frstUpper {
    &::first-letter {
        text-transform: uppercase;
    }
}

.dark-bg {
    background: rgba($color: #0000, $alpha: .9);
}

.light-bg {
    background: rgba($color: #fff, $alpha: .7);
}

.all-title {
    font-family: $scndFont !important;
    font-size: calc(34px + 4 * (100vw / 1920));
    font-weight: 400;

    &::first-letter {
        text-transform: uppercase;
    }
}

.all-txt {
    color: var(--main-gray);
    font-size: calc(14px + 1 * (100vw / 1920));

    &::first-letter {
        text-transform: uppercase;
    }
}

.sm-title {
    font-size: calc(16px + 8 * (100vw / 1920));
    font-weight: 400;

    &::first-letter {
        text-transform: uppercase;
    }
}

@media (min-width: 1920px) {
    .all-title {
        font-size: 38px !important;
    }

    .all-txt {
        font-size: 15px !important;
    }

    .sm-title {
        font-size: 24px !important;
    }
}

@media (max-width: 992px) {
    .all-title {
        font-size: calc(34px + (4 + 4 * 0.7) * ((100vw - 320px)/ 1920)) !important;
    }

    .all-txt {
        font-size: calc(14px + (1 + 1 * 0.7) * ((100vw - 320px)/ 1920)) !important;
    }

    .sm-title {
        font-size: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px)/ 1920)) !important;
    }
}

.banner__descr {
    .consult-btn {
        background: var(--main-black) !important;
        margin-top: 30px;
    }
}

.header__descr-title {
    .red-quote {
        color: var(--main-red);
    }

    .itlc-wrd {
        font-family: var(--scnd-font);
        font-style: italic;
    }
}